<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Pixel Slide show</title>
</head>

<body>
    <div class="container c30">
        <h2>Click the arrows to change the slide</h2>
        <div class="prepend1">
            <img id="prev" src="views/images/back.png" />
            <img id="slide" src="" width="64" height="64"/>
            <img id="next" src="views/images/next.png" />
            <div id="msg"></div>
        </div>
    </div>
</body>

</html>