<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>This is my Template</title>
        <link href="../raxan/ui/css/master.css" type="text/css" rel="stylesheet" />
        <!--[if lt IE 8]><link rel="stylesheet" href="../raxan/ui/css/master.ie.css" type="text/css"><![endif]-->
        <link href="../raxan/ui/css/default/theme.css" type="text/css" rel="stylesheet" />
        <style type="text/css">
            #header {
                padding: 10px;
                border-bottom-width: 2px;
            }
            .wrapper {
                border: solid 5px #777;
                width: 800px;
                margin-top: 20px
            }
        </style>
    </head>

    <body class="rax-background-pal">
        <div class="wrapper rax-content-pal container append-bottom">
            <h2 id="header" class="rax-header-pal rax-glass">Homemade Website</h2>
            <div class="master-content prepend1 append1">
                Content goes here!
            </div>
            <hr class="space" />
        </div>
    </body>

</html>