<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update Form</title>
	<link href="../raxan/styles/master.css" rel="stylesheet" type="text/css" />
	<!--[if IE]><link rel="stylesheet" href="../raxan/styles/master.ie.css" type="text/css"><![endif]-->
    <style type="text/css">
        label {display:block; float:left;width:120px}
    </style>

</head>

<body>
    <div class="container c35">
        <h2>Update Information</h2>
        <form class="c20" method="post">
            <fieldset>
                <div id="msg" class="notice hide bmm"></div>
                <label>Phone number:</label><input type="text" name="phone" class="textbox c10" /><br />
                <label>Zip code:</label><input type="text" name="zipcode" class="textbox c10" /><br />
                <hr />
                <input type="submit" value="Submit" />
            </fieldset>
        </form>
    </div>
</body>

</html>