<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update Form</title>
	<link href="../raxan/styles/master.css" rel="stylesheet" type="text/css" />
	<!--[if IE]><link rel="stylesheet" href="../raxan/styles/master.ie.css" type="text/css"><![endif]-->
</head>

<body>
    <div class="container c35">
        <h2>Thank you!</h2>
        <p>Pri id probatus electram voluptaria, eu scripta utroque denique vis, aeterno volumus disputando at eos. His nisl dictas adolescens ei, sea ei fabulas lobortis. </p>
    </div>
</body>

</html>