<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Shadow Box</title>
  <link href="../styles/master.css" type="text/css" rel="stylesheet" />
  <link href="../styles/default/theme.css" type="text/css" rel="stylesheet" />
  <!--[if IE]><link rel="stylesheet" href="../styles/master.ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>

<body>

<div class="container c30 pad">

    <h1>Shadow Box Template:</h1>

    <div class="shadow c10"><div class="content pad white border">
        <p>Put your HTML content here...</p>
    </div></div>

    <hr class="space" />

	<h2>Alert box with shadow...</h2>

    <div class="shadow c10"><div class="content alert">
        <p>Put your HTML content here...</p>
    </div></div>

</div>

</body>

</html>
