<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Slide out Panel</title>
</head>

<body>
    <div class="container c30">
        <h2 class="bmm"><img src="views/images/folder.png" width="24" height="24" />&nbsp;Mary's User Profile</h2>
        <hr />
        <div id="personal" class="box r5 hide"></div>
        <a id="btnshow" href="#">Show Personal Information</a>
    </div>
</body>

</html>