<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Zebra Stripes</title>
    <link href="../raxan/styles/master.css" rel="stylesheet" type="text/css" />
    <!--[if IE]><link rel="stylesheet" href="../raxan/styles/master.ie.css" type="text/css"><![endif]-->
    <link href="../raxan/styles/default/theme.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container c35">
        <p><a id="btnToggle" href="#off">Toggle Stripes</a></p>
        <table class="border">
            <thead><tr class="tbl-header"><th>Fruits</th><th>Sales (%) in Q3</th></tr></thead>
            <tbody>
                <tr><td>Apple</td><td>40</td></tr>
                <tr><td>Mangoes</td><td>20</td></tr>
                <tr><td>Pears</td><td>10</td></tr>
                <tr><td>Grapes</td><td>30</td></tr>
                <tr><td>Banana</td><td>25</td></tr>
                <tr><td>Oranges</td><td>45</td></tr>
                <tr><td>Strawberries</td><td>6</td></tr>
            </tbody>
        </table>
    </div>
</body>

</html>