<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Buttons</title>
  <link href="../styles/master.css" type="text/css" rel="stylesheet" />
  <link href="../styles/default/theme.css" type="text/css" rel="stylesheet" />
</head>

<body class="padding">

    <h4>Button examples:</h4>

    <!-- Standing form Button -->
    <input class="button ok" type="button" value="Save" /> &nbsp;

    <!-- Button tag -->
    <button class="button cancel">Cancel</button> &nbsp;

    <!-- Link Button -->
    <a href="#" class="button">Continue</a>

    <hr class="space" />

    <!-- Button Type examples -->
    <button class="button ok">Ok</button>    &nbsp;
    <button class="button process">Process</button>    &nbsp;
    <button class="button cancel">Cancel</button>    &nbsp;
    <button class="button continue">Continue</button>    &nbsp;
    <button class="button">Button</button>    &nbsp;
    <button class="button disabled">Disabled</button>    &nbsp;


</body>

</html>
