<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Panel Template</title>
  <link href="../styles/master.css" type="text/css" rel="stylesheet" />
  <link href="../styles/default/theme.css" type="text/css" rel="stylesheet" />
  <!--[if IE]><link rel="stylesheet" href="../styles/master.ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>

<body class="padding">

<div class="container c30 pad">

    <h1>Panel Template:</h1>

    <!-- Panel HTML Code -->
    <div class="panel">
        <div class="pb1"></div><div class="pb2"></div><div class="pm1">
            Your content goes here.
        </div><div class="pb2 pb3"></div><div class="pb1 pb4"></div>
    </div>

    <hr class="space" />

    <!-- Panel HTML Code with Header-->
    <div class="panel">
        <div class="pb1"></div><div class="pb2"></div><div class="pm1">
            <h5 class="pnl-header">Header goes here...</h5>
            Your content goes here.
        </div><div class="pb2 pb3"></div><div class="pb1 pb4"></div>
    </div>

    <hr class="space" />

    <!-- Panel HTML Code with Header and Footer-->
    <div class="panel c10">
        <div class="pb1"></div><div class="pb2"></div><div class="pm1">
            <h5 class="pnl-header">Header goes here...</h5>
            <p class="pad">Your content goes here.</p>
            <div class="pnl-footer">Footer goes here...</div>
        </div><div class="pb2 pb3"></div><div class="pb1 pb4"></div>
    </div>

</div>

</body>

</html>
