<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>Toolbar Template</title>
  <link href="../styles/master.css" type="text/css" rel="stylesheet" />
  <link href="../styles/default/theme.css" type="text/css" rel="stylesheet" />
  <!--[if IE]><link rel="stylesheet" href="../styles/master.ie.css" type="text/css" media="screen, projection"><![endif]-->
</head>

<body class="padding">

<div class="container c30 pad">

    <h1>Toolbar Template:</h1>

	<!-- toolbar -->
	<div class="toolbar c24">
		<a href="" class="button"><img src="examples/images/accept.png" width="16" height="16" /> Save</a>
		<a href="" class="button">Open</a>
		<button class="button"><img src="examples/images/accept.png" width="16" height="16" />&nbsp;Paste</button>
		<span class="item">[ Any Item ]</span>
		<a href="" class="button disabled">Send</a>
	</div>

</div>

</body>

</html>
