
body {
    background: #fff;
    font-size:  90%;
    color: #404040;
}

.soft {
    background: #eee;
}

.bold {
    font-weight:bold;
    color: #555;
}

/* navbar */
.navbar {
    margin-top: 15px;
    margin-bottom:5px;
}
.navbar .lf,.navbar .md,.navbar .rt {
    background: url(images/menu-bar-bg.gif);
}
.navbar .lf,.navbar .md,.navbar .rt  {
    height:50px;
    background-position: left top
}
.navbar .rt {
    margin-left:20px;
    background-position: right top;
}
.navbar .md {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 37px;
    margin-right:20px;
    background-position: bottom;
    color: #aaa;
    font-weight:bold;
}
.navbar ul {
    margin:0;
    padding:0;
}
.navbar li {
    float:left;
    margin-top:10px;
    margin-right:10px;
    line-height:15px;
    padding-right:10px;
    min-width:50px;
    vertical-align:middle;
    text-align: center;
    border-right:1px solid #aaa;
    list-style: none;
}
.navbar li.last {
    border:0;
}
.navbar li a {
    color:#aaa;
    text-decoration: none;
}
.navbar li a:hover {
    color:#fff;
    text-decoration: underline;
}
.navbar li.active a {
    color: #f0f0f0;
    background: url(images/menu-bg.gif) repeat-x bottom;
}


/* Class Reference styles */

.info-box-body { border: 1px solid #999999; padding: .5em; }
.nav-bar { font-size: 9pt; white-space: nowrap; text-align: right; padding: .2em; margin: 0em 0em 1em 0em; }

.oddrow { background-color: #F8F8F8; border: 1px solid #AAAAAA; padding: .5em; margin-bottom: 1em}
.evenrow { background-color: #fff; border: 1px solid #AAAAAA; padding: .5em; margin-bottom: 1em}

/* Code elements */

.line-number {  }

.class-table { width: 100%; }
.class-table-header { border-bottom: 1px dotted #666666; text-align: left}
.class-name { color: #000000; font-weight: bold; }

.method-summary { padding-left: 1em; font-size: 8pt }
.method-header { }
.method-definition { margin-bottom: .3em }
.method-title { font-weight: bold; }
.method-name { font-weight: bold; }
.method-signature { font-size: 85%; color: #666666; margin: .5em 0em }
.method-result { font-style: italic; }

.var-summary { padding-left: 1em; font-size: 8pt; }
.var-header { }
.var-title { margin-bottom: .3em;}
.var-type { font-style: italic; }
.var-name { font-weight: bold; }
.var-default {}
.var-description { font-weight: normal; color: #000000; }

.include-title {  }
.include-type { font-style: italic; }
.include-name { font-weight: bold; }

.const-title {  }
.const-name { font-weight: bold; }

/* Syntax highlighting */

.src-code {  border: 1px solid #336699; padding: 1em; background-color: #EEEEEE; }
.src-line {  font-family: 'Courier New', Courier, monospace; font-weight: normal; }

.src-comm { color: green; }
.src-id {  }
.src-inc { color: #0000FF; }
.src-key { color: #0000FF; }
.src-num { color: #CC0000; }
.src-str { color: #66cccc; }
.src-sym { font-weight: bold; }
.src-var { }

.src-php { font-weight: bold; }

.src-doc { color: #009999 }
.src-doc-close-template { color: #0000FF }
.src-doc-coretag { color: #0099FF; font-weight: bold }
.src-doc-inlinetag { color: #0099FF }
.src-doc-internal { color: #6699cc }
.src-doc-tag { color: #0080CC }
.src-doc-template { color: #0000FF }
.src-doc-type { font-style: italic }
.src-doc-var { font-style: italic }

.tute-tag { color: #009999 }
.tute-attribute-name { color: #0000FF }
.tute-attribute-value { color: #0099FF }
.tute-entity { font-weight: bold; }
.tute-comment { font-style: italic }
.tute-inline-tag { color: #636311; font-weight: bold }