<style type="text/css">
    #basket-items img {vertical-align:middle}
</style>

<div class="right c9 margin" align="center">
    Drop here<br />
    <img id="basket" width="64" src="views/images/basket.gif" />
    <div id="basket-items" class="tpb pad" align="left"></div>
</div>
<div class="items pad">
    <img id="itm01" src="views/images/videocam.png" height="48" width="48" alt ="video Camera $7.50"/>&nbsp;
    <img id="itm02" src="views/images/phone.png" height="48" width="48" alt ="Mobile Phone $20.50"/><br />
    <img id="itm03" src="views/images/bag.png" height="48" width="48" alt ="Gift Bag $1.25"/><br />
    <img id="itm04" src="views/images/present.png" height="48" width="48" alt ="Gift Box $1.50"/>
</div>
